/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 650px) {
    .navbar-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .navbar-left {
        width: 100%;
        text-align: center;
    }
    .navbar-right ul {
        display: none;
    }
    .banner-contents {
        flex-wrap: wrap;
    }
    .banner-left {
        width: 100%;
    }
    .banner-left h1 {
        margin: 1em 2px;
        font-size: 2em;
        text-align: center;
    }
    .banner-left a {
        margin-bottom: 3em;
        margin-left: 12em;
    }
    .banner-right {
        width: 95%;
        text-align: center;
    }
    .card-contents {
        grid-template-columns: 1fr;
    }
    .highlight-section {
        margin: 0em 0;
    }
    .highlight-content {
        flex-direction: column;
    }
    .highlight-left {
        width: 95%;
    }
    .highlight-left h1 {
        font-size: 2em;
        text-align: center;
    }
    .highlight-left p {
        margin: 20px 0;
        text-align: center;
        padding-left: 22px;
    }
    .highlight-btn {
        margin: 3em 10em;
        display: block;
        text-align: center;
    }
    .highlight-right {
        width: 100%;
        display: block;
        text-align: center;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .custom-footer-link {
        text-align: center;
        display: block;
    }
    .custom-footer-link li {
        margin-left: 10px;
        display: inline-block;
        margin-top: 10px;
    }
    .custom-footer-link li a {
        font-size: 1.4em;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
    .navbar-content {
        
        flex-direction: column;
    }
    .navbar-left {
        width: 90%;
        text-align: center;
    }
    .navbar-right ul {
        line-height: 3em;
        margin-top: 1em;
        flex-wrap: wrap;
    }
    .login-btn {
        margin-left: 12em;
    }
    .banner-left h1 {
        margin: 3em 1em;
        font-size: 2em;
    }
    .banner-right img {
        width: 100%;
        margin-top: 3em;
    }
    .login-btn {
        font-size: 14px;
        width: 150px;
        text-align: center;
        margin-top: 2em;
    }
    .card-contents {
        grid-template-columns: 1fr 1fr;
        padding: 0 16px;
    }
    .highlight-left h1 {
        font-size: 1.5em;
        text-align: center;
    }
    .highlight-left {
        padding: 0 10px;
    }
    .highlight-left p {
        font-size: 1em;
        margin: 10px;
        text-align: center;
    }
    .highlight-btn {
        display: block;
        position: relative;
        left: -7em;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-right {
        margin: auto;
        padding-top: 10px;
        font-size: 1.2em;
    }
    .card-contents {
        grid-template-columns: 1fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-section {
        background: #5954f4;
        padding: 0 18px;
    }
    .card-contents {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5em 1em;
        justify-content: center;
        column-gap: 30px;
    }
    .highlight-section {
        margin: 2em 15px;
    }
    .highlight-left h1 {
        font-size: 3em;
    }
    .footer-section {
        padding: 1em 18px;
       
    }
}