/* Default css  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center {
    text-align: center;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header part of cs starts */
.header-section {
    background: #5954f4;
}

.navbar-content {
    justify-content: space-between;
}

.navbar-left {
    width: 25%;
}

.navbar-left a img {
    width: 95%;
    background: transparent;
    margin-top: 1em;
    border-radius: 3px;
}

.navbar-right ul {
    line-height: 4em;
}

.navbar-right ul li {
    margin-left: 15px;
}

.navbar-right ul li a {
    color: white;
    font-size: 1.12em;
    font-family: sans-serif;
    font-weight: 300;
    transition: all .5s ease-in-out;
}

.navbar-right ul li a:hover,
.navbar-right ul li a:hover {
    color: #ffb506;
}

.login-btn {
    background: linear-gradient(#10cd7d, #007480, #00c3ff);
    padding: 10px 20px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.login-btn:hover {
    color: lightcoral;
    background: linear-gradient(#00c3ff, #10cd7d, #007480);
}

/* Banner Pert */
.header-banner {}

.banner-contents {}

.banner-left {
    width: 35%;
}

.banner-left h1 {
    color: white;
    margin: 3em 0;
    font-size: 3.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.banner-left a {
    display: inline-block;
    margin-bottom: 5em;
    line-height: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.banner-left a:hover {
    color: aliceblue;
}

.banner-right {
    width: 65%;
    text-align: right;
}

.banner-right img {
    width: 80%;

}



/* Header part of cs Ends */
/* Card Section Starts */
.card-section {}

.card-contents {
    grid-template-columns: 350px 350px 350px;
    margin: 5em auto;
    justify-content: center;
    column-gap: 30px;
}

.same-card-contents {
    margin-bottom: 2em;
    box-shadow: 0px 0px 4px 1px #9d9b9b;
    text-align: center;
}

.same-card-contents img {
    width: 90%;
    display: block;
    margin: 15px auto;
    border-radius: 3px;
}

.same-card-contents h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.same-card-contents p {
    font-family: 'Roboto', sans-serif;
    padding: 1.2em 10px;
    color: #444;
    line-height: 25px;
}

/* Card section Ends */
/* highlight-section Starts */
.highlight-section {
    margin: 2em 0;
}

.highlight-left {
    width: 50%;
}

.highlight-left h1 {
    font-size: 3.4em;
    text-align: left;
}

.highlight-left p {
    margin: 36px 0;
    text-align: justify;
    padding-right: 35px;
    color: #444;
    font-size: 1.1em;
}

.highlight-right {
    width: 50%;
}

.highlight-right img {
    width: 90%;
}

.highlight-btn {
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}

/* highlight-section Ends */
/* Footer Section starts */
.footer-section {
	background: #000635;
	padding: 1em 0;
	margin: 1em 0;
	font-size: 1.1em;
	color: white;
	font-weight: bold;
}

.footer-content {
    justify-content: space-between;
}

.footer-left {}

.footer-text {}

.footer-text p {}

.footer-right {}

.footer-icons {}

.custom-footer-link {
    
}
.custom-footer-link li {
	margin-left: 10px;
}
.custom-footer-link li a {
    color: #fff;
}

/* Footer Section Ends */
/*     font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif; */